<section class="argument">
    <div class="argument__content">
        <div class="argument__row">


            <div class="argument__left-col">
                <div class="argument__logo">
                    <img src="/images/A.svg" alt="" class="argument__logo-image">
                </div>
            </div>
            <div class="argument__right-col">
                <h2 class="argument__heading">
                    <b>Аргументъ</b><br> в твою пользу
                </h2>
                <div class="argument__links">
                    <a href="#" class="argument__link">
                        <img src="/images/google.svg" alt="" class="argument__link-image">
                    </a>
                    <a href="#" class="argument__link">
                        <img src="/images/apple.svg" alt="" class="argument__link-image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>