<section class="consulation">
    <div class="consulation__content">
        <div class="consulation__card-outer-wrapper">
            <div class="consulation__card">
                <div class="consulation__card-text-content">
                    <div class="consulation__card-tariff">
                        <div class="consulation__card-tariff-text">
                            Тариф
                        </div>
                        <h2 class="consulation__card-tariff-name">
                            Разовая консультация
                        </h2>
                    </div>
                    <div class="consulation__card-large-text">
                        Стоимость рассчитывается индивидуально
                    </div>
                    <a href="#" class="consulation__card-link">
                        Выбрать
                    </a>
                </div>
                <img src="/images/femida.svg" alt="" class="consulation__card-femida">
            </div>
            <div class="consulation__card-image-wrapper">
                <img src="/images/consultation.webp" alt="" class="consulation__card-image">
            </div>
        </div>

    </div>
</section>