<section class="features">
    <div class="features__content">
        <div class="features__row">
            <div class="features__left-col">
                <img src="/images/femida.svg" alt="" class="features__femida">
                <div class="features__image-wrapper">


                    <picture>
                        <source srcset="/images/features-mobile.webp" media="(max-width: 640px)">
                        <img src="/images/features-desktop.webp" alt="" class="features__image">
                    </picture>
                </div>
                <div class="features__links">
                    <a href="#" class="features__link">
                        <img src="/images/google.svg" alt="" class="features__link-image">
                    </a>
                    <a href="#" class="features__link">
                        <img src="/images/apple.svg" alt="" class="features__link-image">
                    </a>
                </div>
            </div>
            <div class="features__right-col">
                <h2 class="features__heading">
                    Возможности <b>Аргументъ</b>
                </h2>
                <ul class="features__faq-list">
                    <li class="features__faq-list-item">
                        <div class="features__faq-card">
                            <h3 class="features__question">
                                Юридические вопросы — это долго и сложно?
                            </h3>
                            <div class="features__answer">
                                В приложении «Аргументъ» вы моментально получаете доступ к целой команде юристов: не
                                нужно ехать к ним в офис или тратить время на долгие совещания, просто ставите задачи и
                                загружаете нужные документы прямо в приложении.
                            </div>
                        </div>
                    </li>
                    <li class="features__faq-list-item">
                        <div class="features__faq-card">
                            <h3 class="features__question">
                                ЮУ каждого дела своя сложная специфика?
                            </h3>
                            <div class="features__answer">
                                Команда «Аргументъ» — это ваш полноценный департамент юристов на аутсорсе: у каждого
                                своя специализация и крутые компетенции в разных направлениях права
                            </div>
                        </div>
                    </li>
                    <li class="features__faq-list-item">
                        <div class="features__faq-card">
                            <h3 class="features__question">
                                Нанимать юристов дорого?
                            </h3>
                            <div class="features__answer">
                                С подпиской в приложении «Аргументъ» вы получаете целый штат юристов по цене одного
                                сотрудника
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>