<footer class="page-footer">
    <div class="page-footer__content">
        <ul class="page-footer__contacts-list">
            <li class="page-footer__contacts-list-item">
                <div class="page-footer__contacts-card">
                    г. Казань, Чистопольская ул., 20Б, г.<br>
                    Пн – Пт с 09:00 до 18:00
                </div>
            </li>
            <li class="page-footer__contacts-list-item">
                <div class="page-footer__contacts-card">
                    +7 (843) 216-56-29<br>
                    sales@argumentkazan.ru
                </div>
            </li>
        </ul>
    </div>
</footer>